/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem; 
}

/* Variables */
:root{
    --main-color:#647bff;
    --body-color:#090a1a;
    --container-color:#171b3c;
    --bg-color:#fff;   
    --box-color:#0d0f26;
    --heading-color:#222231;
}


html, body {
    width: 100%;
    height: 100%;
}
/* .heading {       
    font-size: 5rem;
    text-transform: uppercase;
    color: #222231;
    text-align: center;
    margin-bottom: 2rem;
} */

.container {
    width: 60%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.container::before {
    position: absolute;
    left: 50%;
    content: '';
    width: 5px;
    height: 100%;
    background-color: rgb(231, 230, 230);
    border-radius: 5px;
}

.entry {
    margin: 50px 10px;
    position: relative;
}

.indicator {
    position: absolute;
    top: -5px;
    left: calc(50% - 5px);
    width: 15px;
    height: 15px;
    background-color: var(--bg-color);
    border-radius: 50%;
}

.indicator span {
    position: relative;
    top: -5px;
    width: 7px;
    height: 7px;
    display: inline-block;
    background-color: white;
    border-radius: 50%;
}

.content {
    width: 300px;
    margin: 0 auto;
    transform: translate(-58%, -9px);
    font-size: 14px;
    text-align: right;
}

.entry:nth-child(odd) .content {
    text-align: left;
    transform: translate(60%, -9px);
}

.content span {
    font-weight: 500;
    font-size: 16px;
    display: block;
    color: var(--main-color);
}

.time {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-130%, -48%);
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 25px;
    background-color: var(--main-color);
    color: white;
    display: inline-block;
}

.entry:nth-child(even) .time {
    transform: translate(40%, -48%);
}

@media only screen and (max-width: 600px) {
    .container {
        margin: 0;
    }

    .entry:nth-child(even) .content, .entry:nth-child(odd) .content {
        text-align: left;
        transform: translate(60%, -9px);
    }

    .entry:nth-child(even) .time, .entry:nth-child(odd) .time {
        transform: translate(-130%, -48%);
    }
}



@media only screen and (max-width: 600px) {
    .container {
        width: 80%;
    }
    .content {
        width: 200px;
        transform: translate(-58%, -9px);
        font-size: 14px;
        text-align: right;
    }
  }